html, body
{
  height: 100%;
  margin: 0;
}

body
{
    background-image: url("waffer.jpeg");

}

.header
{
	color: rgb(0, 0, 0);
	font-family: 'Chewy';
	font-size: 45px;
	letter-spacing: 7px;
	margin-top: 80px;
}
.header img
{
	width: 80px;margin-left: -15px;
}

.login_div
{
	background: #ffdba0;float: none;border-radius: 15px;
}

.logo
{
	width: 75px;
    margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
    background-color: hsl(37, 100%, 29%);
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}


.input_div_message_page
{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
	padding-top: 10px;

}
.input_div_message_page #msg
{
	width: 80%;
	padding-top: 10px;

}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}

#logout
{
	font-size: 20px; float: right;
    background-color: navajowhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: navajowhite;
    margin-top: 40px;
	margin-bottom: 40px;
}

.sweet_div{
    background-color: white;
}

#header{
	font-family: 'Chewy';
}